---
title: 'My portfolio site'
description: 'Home page'
preloadImg: ''
permalink: '/'
eleventyNavigation:
   key: Home 
   order: 100
layout: layouts/base.html
stylesheet: css/home.css
script: '' 
---
<!-- HERO SECTION -->
<section id="hero">
   <h1>Hello! I'm Mauritz</h1>
   <p>A web developer who loves to solve problems.</p>
   <div><a href="https://github.com/MauritzLM">Github</a><a href="mailto:mauritz303@gmail.com">Email</a></div>
</section>

<!-- PROJECTS SECTION -->
<section id="projects">
  <h2>My projects</h2>
 <ul>
  {% for project in projects %}
     <li>
        {# <picture>
          <!-- Mobile image-->
          <source media="(max-width: 600px)" srcset="{{ project.image }}"/>
          <!-- Desktop image -->
          <source media="(min-width: 601px)" srcset="{{ project.image }}"/>

          <!-- Fallback image --> 
          <img src="{{ project.image }}" alt="" aria-hidden="true" decoding="async" width="" height="" loading=""> 
      </picture> #}
      <div class="project-image">
      </div>

      <div class="project-details">
        <h3>{{ project.title }}</h3>

        <div class="project-stack">
        {% for tech in project.stack %}
          <span>{{ tech }}</span>
        {% endfor %}  
        </div>

        <p>{{ project.description }}</p>

        <div class="project-links">
           <a href="{{ project.github }}">Source code</a>
           <a href="{{ project.url }}">Live site</a>
        </div>
      </div>  
     </li>
  {% endfor %}
  </ul>
</section>

<!-- RECENT POSTS -->
<section id="articles">
{% if collections.recent | length == 0 %}
    <h2>No current posts</h2>
{% else %}
   <h2>Featured Posts</h2>
   <a href="/blog">View all posts</a>
   <div class="card-container">
   {%- for post in collections.recent | reverse -%}
     <article>
    
      <div class="post-details">

          <h3>{{ post.data.title }}</h3>
          <p class="date">{{ post.data.date | postDate }}</p>
          <p>{{ post.data.description }}</p>

          <a href="{{ post.url }}">Continue reading</a>

       </div>
     
     </article>
   {%- endfor -%}
    </div>
{% endif %}
</section>

<!-- CALL TO ACTION -->
<section id="cta">
 <div>
   <h2>Let's Work Together!</h2>
   <p>I’m available for web projects. Feel free to email me to see how we can collaborate.</p>
   <a href="/contact">Contact me</a>
 </div>
</section>